<div class="mt-1">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sideMenu d-flex flex-column">
            <div class="d-flex flex-column justify-content-center  px-3 pt-2 text-white">
                <button class="new-quizz mb-5" (click)="DisplayJoiningPage();">
                    Join quizz
                </button>
                <label class="joined-quizz-title">
                    Taken quizzes
                </label>
                <h6 *ngIf="takenQuizzes.length == 0" class="m-auto mt-2" style="text-decoration: underline;">empty</h6>
                <h6 *ngFor="let quizz of takenQuizzes" [ngClass]="quizz.id == selectedQuizzId ?  'selected_quizz_btn' : 'unselected_quizz'" (click)="displayFinishedQuizz(quizz);selectedQuizzId = quizz.id">
                    <i class="bi bi-hash"></i>
                    {{quizz.title}}
                </h6>
            </div>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>