.case:disabled{
    border-color: #461A42;
    background-color: white;
    border-right: none;
    border-left: none;
    border-top: 1px solid #461A42;
    border-bottom: 1px solid #461A42;
    
    
}
.rank:disabled{
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    background-color: #461A42;
    border: none;
}
.header{
    color: white;
    background-color: #461A42;
    padding-block: 0.5%;
    border-radius: 25px 25px 25px 25px;
    height: 10rem;
    padding-inline: 0.5%;
}
.username{
    color: #461A42;
}



@keyframes warning {
    0% { background-color: red; }
    50% { background-color: white; }
    100% { background-color: red; }
  }
  
.warning , .cheating-attempt{
    animation: warning 0.9s infinite;
}
.legend{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2%;
}
.legend-item p {
    color: #461A42;
    margin-left: 5%;
    font-size: 12px;
    font-weight: bold;
}
.legend-item div {
    height: 20px;
    width: 20px;
    border: 1px solid gray;
}
.progress-content{
    border-radius: 25px;
    border: 2px solid #461A42;
    margin-top: 5%;
}
  .indicator{
    background-color: #461A42;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
  }