.case:disabled{
    border-color: #461A42;
    background-color: white;
    border-right: none;
    border-left: none;
    border-top: 1px solid #461A42;
    border-bottom: 1px solid #461A42;
    
}
.rank:disabled{
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    background-color: #461A42;
    border: none;
}
.header{
    color: white;
    background-color: #461A42;
    padding-inline: 2%;
    padding-block: 1%;
    border-radius: 25px 25px 25px 25px;
}
.username{
    color: #461A42;
}