<div class="d-flex flex-column">
    <div class="d-flex flex-row mt-2 header">
        <h4 class="">student</h4>
        <h4 class="m-auto">progress</h4>
        <h4 class="">rank</h4>

    </div>
    <div class="d-flex flex-row mt-5 m-4" *ngFor="let prog of progress;let progressIndex = index;">
        <h4 class="username">{{prog.student.username}}</h4>
        <div class="ml-5">
            <input disabled *ngFor="let _ of cases;let i=index;" [style]="getCaseStyle(prog,i)+style_not_entered" />
            <br/>
            <img src="../assets/letter.png" width="50" height="50" [style]="getIconPositionStyle(prog.progress.length)"/>
        </div>
        <button class="rank shadow ml-3" disabled>12</button>
    </div>

</div>