.nav-btn:hover{
    color: #461A42;
    background-color: white;
}
.nav-btn{
    outline: 2px solid white;
    background-color: #0000;
    color: white;
    padding: 1em;
    font-size: 100%;
    margin: 2px;
}
.title{
    margin-top: 2%;
    font-family: Georgia, serif;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navbar{
    background-color: #461A42;
    height: 100px;
    box-shadow: 0px 2px 2px black;
}
.userBtn{
    border: 1px solid white;
    color: white;
}
.userBtn:hover{
    background-color: white;
    color: #461A42;
}