.btn{
    float: right;
}
.container{
    height: 100%;
}
.search-token{
    margin: auto;
    width: 60%;
}
.unselected-quizz, .selected_quizz_btn{
    
    color: white;
    background-color: #0000;
    margin-top: 5%;
}
.unselected-quizz:hover, .selected_quizz_btn{
    cursor: pointer;
    padding-left: 2%;
    border-left: 2px solid white;
    font-weight: bold;
    animation: vibration 0.5s ease-in-out infinite;
}
@keyframes vibration {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}
.new-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ffffff00;
    border: 2px dotted white;
    margin-top: 5%;
}

.sideMenu{
    background-color: #461A42;
}
.menu-title{
    margin-top: 10%;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 2px solid white;
}
.title .token .duration .maxParticipations{
    display: flex;
    flex-direction: row;
}
.title{
    margin-right: 50%;
}
.duration{
    margin-right: 50%;
}