<div class="container-fluid h-100 mt-1">
    <div class="row flex-nowrap  h-100">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sideMenu  d-flex flex-column">
            <div class="d-flex flex-column justify-content-center  px-3 pt-2 text-white overflow-visible">
                <button class="new-quizz mb-5" (click)="displayNewQuizz()">
                    New quizz
                </button>
                <label class="menu-title">
                    Current quizzes
                </label>
                <div style="overflow-y: visible;">
                    <button *ngFor="let quizz of list_current_quizzes" (click)="displayCurrentQuizz(quizz)" [ngClass]="quizz.id == actualQuizzId?'selected_quizz_btn':'unselected-quizz'">
                        {{quizz.title}}
                    </button>
                </div>
                <label class="menu-title">
                    Ready quizzes
                </label>
                <div style="overflow-y: visible;">
                    <button *ngFor="let quizz of list_ready_quizzes" (click)="displayReadyQuizz(quizz)" [ngClass]="quizz.id == actualQuizzId?'selected_quizz_btn':'unselected-quizz'">
                        {{quizz.title}}
                    </button>
                </div>
                    
                <label class="menu-title">
                    Finished quizzes
                </label>
                <div style="overflow-y: visible;">
                    <h5 *ngFor="let quizz of list_finished_quizzes" (click)="displayFinishedQuizz(quizz)" [ngClass]="quizz.id == actualQuizzId?'selected_quizz_btn':'unselected-quizz'">
                        {{quizz.title}}
                    </h5>
                </div>
            </div>
        </div>
            <div class="col">
                <router-outlet></router-outlet>
            </div>
            
            
    </div>
</div>