.new-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #ffffff00;
    border: 2px dotted white;
    margin-top: 5%;
}
.sideMenu{
    background-color: #461A42;
    height: 100vh;
}
.joined-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0000;
    border: 1px solid white;
    margin-top: 5%;
}
.joined-quizz:hover{
    background-color: white;
    color: #461A42;
    cursor: pointer;
}
.joined-quizz-title{
    margin-top: 10%;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: 2px solid white;

}