<div class="clock d-flex">
    <h2 class="m-auto">{{ (currentTime$ | async) | date: 'mm:ss' }}</h2>
</div>
<div class="full-screen" *ngIf=" ! enteredToQuizz">
    <button (click)="enterToQuizz()" class="btn m-auto btn-success p-4" style="font-size: 25px;">
        start answer questions
    </button>
</div>
<div *ngIf="enteredToQuizz" style="height: 100vh;">
    <div class="d-flex">
        <h4 class="question m-5 w-75">{{questions[currentQuestionIndex].text}}</h4>
    </div>
    <div *ngFor="let choice of questions[currentQuestionIndex].choices;let choiceIndex=index;" class="choices m-5 col-md-6">
        <div  [className]="this.questions[this.selectedPage].choices[choiceIndex].className" (mouseenter)="changeClass(choiceIndex,'hovered')" (mouseleave)="changeClass(choiceIndex,'normal')" (click)="changeClass(choiceIndex,'selected')">
            <button class="choiceIndex">{{choiceIndex+1}}</button>
            <h5 class="choice">{{choice.text}}</h5>
        </div>
    </div>
    <div class="bottom-menu" style="position: absolute; bottom: 0">
        <button [disabled]="selectedPage == 0" class="btn previous" (click)="changePage(selectedPage,selectedPage-1)">< previous</button>
        <div class="pages">
            <div>
                <button *ngFor="let _ of questions;let page=index;" [ngClass]="selectedPage == page ? 'menuIndexSelected m-1':'menuIndex m-1'" (click)="changePage(selectedPage,page)">{{page+1}}</button>
            </div>
            <div style="height: 1px;background-color: #461A42;width: 100%;"></div>
            <button class="btn btn-success mt-1" (click)="finishQuizzAttempt(selectedPage,undefined)">
                Finish the quizz
            </button>
        </div>
        <button [disabled]="selectedPage == questions.length-1" class="btn next" (click)="changePage(selectedPage,selectedPage+1)">next ></button>
        
    </div>
</div>