<div class="card register mt-2">
    <div class="row">
        <div class="col-md-3 register-left">
            <img [src]="active_page === 'student' ? '../assets/student.png' : '../assets/teacher.png'"/>
            <div class="circle m-auto"></div>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item"  (click)="activateUserPage('student')">
                    <a [ngClass]="active_page === 'student' ? 'nav-link active' : 'nav-link'" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">Etudiant</a>
                </li>
                <li class="nav-item"  (click)="activateUserPage('teacher')">
                    <a [ngClass]="active_page === 'teacher' ? 'nav-link active' : 'nav-link'" id="profile-tab" data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false">Professeur</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab">
                    <h3 *ngIf="active_page == 'student'" class="register-heading"> Register as a Student</h3>
                    <h3 *ngIf="active_page == 'teacher'" class="register-heading"> Register as a Teacher</h3>
                        <form [formGroup]="signupForm" class="row register-form" (ngSubmit)="submit()">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" formControlName="firstname" />
                                </div>
                                <div class="form-group">
                                    <input type="test" class="form-control" placeholder="Your Email *" formControlName="email"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" formControlName="password"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control"  placeholder="Etablissement *" formControlName="etablissement"/>
                                </div>
                                <div class="form-group">
                                <select class="form-control dropdown-toggle" formControlName="gender">
                                    <option value="">Gender *</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" formControlName="lastname"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username (Identifier) *" formControlName="username"/>
                                </div>
                                <div class="form-group">
                                <input type="password" class="form-control"  placeholder="Confirm Password *" formControlName="passwordConf"/>
                            </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" [placeholder]="active_page === 'student'?'Classe *':'Departement *'" formControlName="classe_departement"/>
                                </div>
                                <input type="submit"  class="btn registerBtn"  value="Register"/>
                            </div>
                        </form>
                    </div>
                
            </div>
        </div>
    </div>
  
  </div>