.sideMenu{
    background-color: #461A42;
}
.btn{
    float: right;
    background-color: #461A42;
    color: white;
    border: none;
}
.form-label{
    color: #461A42;
}
.form-control{
    background-color: #0000;
    border-color: #461A42;
    color: #461A42;
}
.container{
    height: 100%;
}
.search-token{
    margin: auto;
    width: 60%;
}
.joined-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0000;
    border: 1px solid white;
    margin-top: 5%;
}
.joined-quizz:hover{
    background-color: white;
    color: #461A42;
    cursor: pointer;
}
.joined-quizz-title{
    color: white;
    text-decoration: underline;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}