@import "bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white;}
.circle {
    width: 40%;
    height: 7%;
    border-radius: 50%;
    background-color: #461A42;
    animation: growShrink 1s infinite alternate;
  }
  
  @keyframes growShrink {
    100% {
      transform: scale(1);
    }
    0% {
      transform: scale(1.5);
    }
  }
  *{
    font-family: verdana, sans-serif;
  }