
.choices{
    padding: 5px;
    margin-left: 50px;
}
.checkbox{
    flex: 10%;
    width: 8%;
}
.choiceText{
    flex: 90%;
    width: 90%;
}
.form-control{
    background-color: #0000;
    color: #461A42;
    border-color: #461A42;
    align-content: center;
}
.form-label{
    color: #461A42;
    font-weight: bold;
}
.modify button{
    background-color: #0000;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color: white;
}
.validateBtn{
    background-color: green;
    color: white;
    width: 45%;
    float: right;
    margin-top: 7%;
}
.addQuestion{
    background-color: #461A42;
    color: white;
    width: 15%;
    float: left;
    margin-top: 2%;
}
.disabled{
    pointer-events: none;
    opacity: 20%;
}