<div class="d-flex main-div">
    <section class="m-auto" style="width: 50%;">
        <p class="title">
            Online Quizzes Platform
        </p>
        <h6 class="description mt-5">
            Welcome to Quizzini, where learning meets fun! Our platform offers a wide range of interactive quizzes for students and educators. Whether you're looking to test your knowledge or engage your students, Quizzini has you covered. Join us today and start your quiz journey!
        </h6>
            <button class="btn btn-get-started shadow mt-5 mb-5" routerLink="signup">
                Get Started
            </button>
    </section>
    <section class="image" style="width: 40%;">
    </section>
</div>