<div class="d-flex justify-content-center main-div">
    <section class="col m-auto" style="flex: 1;">
        <h1 class="title">
            Online Quizzes Platform
        </h1>
        <h6 class="description mt-5 text-white">
            Welcome to Quizzini, where learning meets fun! Our platform offers a wide range of interactive quizzes for students and educators. Whether you're looking to test your knowledge or engage your students, Quizzini has you covered. Join us today and start your quiz journey!
        </h6>
    </section>
    <section class="col image" style="flex: 1;">
    </section>
</div>