.full-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 100vh;
}
.loader {
    width: 250px;
    height: 250px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: lightblue;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
label{
    position: absolute;
    padding: 5px;
    color: red;
    font-weight: bold;
}
.top-right{
    top: 0;right: 0;
}
.top-left{
    top: 0;left: 0;
}
.bottom-right{
    bottom: 0;right: 0;
}
.bottom-left{
    bottom: 0;left: 0;
}
.msg{
  color: rgb(122, 224, 255);
}
.question{
  text-align: center;
  color: #461A42;
  border: 2px dashed #461A42;
  padding: 10px;
  border-radius: 50px 50px 50px 50px;
}
.choiceIndex, .menuIndex{
  font-size: 150%;
  color: #461A42;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px dashed #461A42;
  background-color: #0000;
}
.menuIndex, .menuIndexSelected{
  font-size: 100%;
  color: #461A42;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0000;
  outline: none;
}
.menuIndexSelected{
  border: 3px solid #461A42;
  background-color: #0000;
}
.choice{
  font-size: 20px;
  color: #461A42;
  padding: 20px;
  border: 2px dashed #461A42;
  border-radius: 50px 50px 50px 50px;
  margin-left: 4%;
}
.normal, .selected, .hovered{
  display: flex;
  margin-top: 20px;
}

.hovered button, .hovered h5{
  background-color: #c520f3ba;
  color: #461A42;
  cursor: pointer;
}
.selected button, .selected h5{
  background-color: #461A42;
  color: white;
  cursor: pointer;
}
.bottom-menu{
  display: flex;
  width: 100%;
  padding: 10px;
}
.previous, .next{
  flex: 10%;
  background-color: #461A42;
  color: white;
}
.pages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 80%;
}
.clock{
  position: absolute;
  background-color: #461A42;
  border-radius: 10px;
  color: white;
  float: right;
  top: 4%;
  right: 1%;
  width: 15%;
  padding: 15px;
}